<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date LogLevel=%level; thread=[%thread]; sessionId=%X{sessionId}; requestId=%X{requestId}; category=%logger; ipAddress=%X{ipAddress}; user=%X{principal}; requestUri=%X{req.requestURI}; userAgent=%X{req.userAgent}; %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="org.springframework.core" level="info"/> 
    <logger name="org.springframework.jndi" level="info"/>
    <logger name="org.springframework.beans" level="info" />
    <logger name="org.apache.catalina" level="info" />
    <logger name="org.apache.tomcat" level="info" />
    
         
    <root level="debug">
        <appender-ref ref="console"/>
    </root>
</configuration>
